<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/formulario/delete/delete.css">
    <link rel="stylesheet" href="../styles/formulario/delete/responsiv.css">
    <title>Document</title>
</head>
<body>
    <div class="master" id="master">
        
        <div class="front-form" id="front-form">
            <form action="https://backend-project-55nrfinxg-gabrielmarquezin.vercel.app//pages/deletar" method="post" class="form-conteiner" id="form-conteiner">
                <div class="group-input">
                    <div class="input-box">
                        <input type="text" name="marca" id="marca" required>
                        <label for="marca">MARCA</label>
                    </div>
        
                    <div class="input-box">
                        <input type="text" name="tipo" id="tipo" required list="tipos">
                        <label for="tipo">TIPO</label>
                        <datalist id="tipos">
                            <%categorias.forEach(tipo => {%>
                                <option value='<%= tipo.cat %>'><%= tipo.cat%></option>
                            <%})%>
                        </datalist>
                    </div>
                    
                    <div class="input-box">
                        <input type="text" name="classificacao" id="classificacao" list="class" required>
                        <label for="classificacao">CLASSIFICAÇÃO</label>
                        <datalist id="class">
                            <%classificacoes.forEach(clas => {%>
                                <option value='<%= clas%>'><%= clas%></option>
                            <%})%>
                        </datalist>
                    </div>
        
                    <div class="input-box">
                        <input type="text" name="estado" id="estado" list="estad" required>
                        <label for="estado">ESTADO</label>
                        <datalist id="estad">
                            <%estados.forEach(estado => {%>
                                <option value='<%= estado %>'><%= estado%></option>
                            <%})%>
                        </datalist>
                    </div>
        
                    <div class="input-box">
                        <input type="number" name="tamanho" id="tamanho" required>
                        <label for="tamanho">TAMANHO</label>
                    </div>

                    <div class="input-box">
                        <select id="select-market" name="market">
                            <option value="mercado">MERCADO</option>
                            <option value="biga">biga</option>
                            <option value="deirton">deirton</option>
                            <option value="francisco">francisco</option>
                        </select>
                    </div>
                </div>
                <div class="btn">
                    <button type="button" onclick="window.location.href ='https://backend-project-55nrfinxg-gabrielmarquezin.vercel.app/'">VOLTAR</button>
                    <button type="submit" id="btn">ENVIAR</button>
                </div>
            </form>
        </div>

        <div class="validation-delete" id="validation" style="display: none;"><%= empty %></div>
    </div>
    
    <script type="module" src="../src/formulario/delete/delete.js"></script>
</body>
</html>
